<link rel="stylesheet" href="/src/public/css/styles.css">
<footer>
    <div class="footer-content">
        <p>&copy; 2024 BookNote Hub</p>
        <ul class="social-links">
            <li><a href="https://www.instagram.com/book_note_hub_7/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>

            <li>
                <a href="https://www.threads.net/@book_note_hub_7" target="_blank">
                  <i class="fas fa-hashtag"></i> Threads
                </a>
              </li>
              
            <li><a href="https://www.quora.com/profile/BookNoteHub7" target="_blank"><i class="fab fa-quora"></i> Quora</a></li>
        </ul>
    </div>
</footer>
